#toggleButton {
    background-color: rgb(240, 240, 240,0);
    border: none;
    box-shadow: none;
    margin-right: 40px;
    opacity: 0.2;
    cursor: pointer;
}

#toggleButton:hover {
    opacity: 0.8;
}

#toggleButton img {
    width: 40px;
    height: 40px;
}
